services:
  postgres:
    container_name: cosmic-engine-postgres
    image: postgres:16-alpine
    env_file:
      - ./backend/.env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cosmic"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal

  # Milvus dependencies
  etcd:
    container_name: milvus-etcd
    image: quay.io/coreos/etcd:v3.5.5
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - etcd_data:/etcd
    command: etcd -advertise-client-urls=http://127.0.0.1:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - internal

  minio:
    container_name: milvus-minio
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    volumes:
      - minio_data:/minio_data
    command: minio server /minio_data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - internal

  milvus:
    container_name: milvus-standalone
    image: milvusdb/milvus:v2.4.0
    command: ["milvus", "run", "standalone"]
    security_opt:
      - seccomp:unconfined
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
    volumes:
      - milvus_data:/var/lib/milvus
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/healthz"]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3
    depends_on:
      - etcd
      - minio
    networks:
      - internal

  python-md:
    build: ./backend/src/scripts
    container_name: ce-python-md-service
    env_file:
      - ./backend/src/scripts/.env.prod
    depends_on:
      - milvus
    networks:
      - internal
    volumes:
      - uploads:/app/uploads

  backend:
    build: ./backend
    container_name: cosmic-engine-backend
    ports:
      - "3006:3006"
    env_file:
      - ./backend/.env.prod
    depends_on:
      - postgres
      - python-md
    networks:
      - internal
      - external
    volumes:
      - uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: cosmic-engine-frontend
    ports:
      - "3005:3000"
    env_file:
      - ./frontend/.env.prod
    depends_on:
      - backend
    networks:
      - external

networks:
  internal:
    driver: bridge
  external:
    driver: bridge

volumes:
  postgres_data:
  uploads:
  etcd_data:
  minio_data:
  milvus_data: